BOT_TOKEN = "5601726954:AAFpIOgbjuD56qCdlRtxuygUTP68vt_5eKw"
GDRIVE_FOLDER_ID = "1-yiUue5kUCScAMjDPbiZOOGLsPANj4p4"
OWNER_ID =5155227539
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API =21884806
TELEGRAM_HASH = "b63089395923ce734d57306fbbe58a24"
AUTHORIZED_CHATS = "-1001663667601 -1001834505815"
IS_TEAM_DRIVE = "true"
INDEX_URL = "https://asifalex02.mirrordn.workers.dev/0:/Files%2002"
CRYPT = "N0x2N1RHYXVUOHh2bnh4NmJIdXFlazRwMHBabWpmSjA1SGhMNkZXVDZidz0%3D"
MEGA_API_KEY = "Pcw1SQYb"
MEGA_EMAIL_ID = "dxusgozhmwkze@spacehotline.com"
MEGA_PASSWORD = "Lolmanlol#3"
TORRENT_TIMEOUT = "120"
USE_SERVICE_ACCOUNTS = "true"
STOP_DUPLICATE = "true"
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1




LEECH_SPLIT_SIZE = ""
# OPTIONAL CONFIG
DATABASE_URL = ""
SUDO_USERS = ""
IGNORE_PENDING_REQUESTS = ""
STATUS_LIMIT = ""
CMD_INDEX = ""
WATCH_COMMAND = ""
UPTOBOX_TOKEN = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
# Mirror
MIRROR_LOGS = ""
BOT_PM = ""
FORCE_BOT_PM = ""
# Leech
LEECH_LOG = ""
USER_SESSION_STRING = ""

AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""

SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Appdrive
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""
# Telegraph ui
TITLE_NAME = "asif"
AUTHOR_NAME = "asif"
AUTHOR_URL = "https://t.me/asif"
# Buttons
VIEW_LINK = ""
SOURCE_LINK = ""
START_BTN1_NAME = ""
START_BTN1_URL = ""
START_BTN2_NAME = ""
START_BTN2_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'


# RSS Realted Commands
RSSLIST_CMD = ""
RSSGET_CMD = ""
RSSSUB_CMD = ""
RSSUNSUB_CMD = ""
RSSSET_CMD = ""
ADDLEECHLOG_CMD = ""
RMLEECHLOG_CMD = ""
